#nav {
    height: 50px;
}

#nav ul {
    background: none;
}

#nav li a {
    padding: 15px 10px;
}

#logo-search {
    margin-left: 200px;

}
#nav-logo {
    padding-top: 8px;
    height: 32px;
}

#search-input {
    margin: 10px;
    width: 250px;
    height: 25px;
    font-size: 18px;
    padding-left: 5px;
}

/* .weather {
    float: left;
    padding-left: 15px;
} */

#nav ul {
    width: 35%;
    margin-left: 770px
}
