#main {
    position: relative;
    top: 50px;
}

.container {
    /* margin-left: auto;
    margin-right: auto; */
    padding-left: 10%;
    padding-right: 10%; 
}

.container::after {
    content: "";
    display: table;
    clear: both; }
@media (min-width: 576px) {
    .container {
    width: 540px;
    max-width: 100%; } }
@media (min-width: 768px) {
    .container {
    width: 720px;
    max-width: 100%; } }
@media (min-width: 992px) {
    .container {
    width: 960px;
    max-width: 100%; } }
@media (min-width: 1200px) {
    .container {
    width: 1140px;
    max-width: 100%; } }

.searchContainer {
    width: 100%;
    position: fixed;
    padding: 25px 15px 15px 15px;
    z-index: 99;
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: inherit;
    height: 100px;
}
#search-box {
    margin: 0;
    box-sizing: inherit;
}
.ais-search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.ais-search-box--input {
    width: 100%;
    border-radius: 0;
    padding: 0;
    color: black;
    border: solid 1px #CCC;
    text-indent: 10px;
    box-shadow: none;
    outline: none;
    font-size: 20px;
    padding-left: 30px;
    height: 46px;
}

.ais-search-box--magnifier {
    top: 18px;
    left: 18px;
}

.ais-search-box--reset {
    top: 18px;
    right: 18px;
}

#search-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px;
}

.ais-stats {
    font-size: 18px;
}

.right {
    display: flex;
}

#sort-by {
    padding: 5px 15px;
}

select.ais-sort-by-selector {
    cursor: pointer;
    padding: 5px 10px;
    background: transparent;
    color: #5fb3f1;
    border-radius: 0;
    font-weight: 700;
    font-size: 18px;
    border: solid 1px #D9D9D9;
    -webkit-appearance: none;
    outline: none;
}

.bodyContainer {
    padding-top: 200px;
    display: flex;
    background-color: white;
}

.facetContainer {
    width: 25%;
    margin-right: 20px;
}

.refinement-list {
    padding: 10px;
    background-color: white;
    border: solid 1px #D3D3D3;
    margin-bottom: 30px;
    font-size: 18px;
}

.ais-refinement-list--label {
    color: #141618;
    font-size: 18px;
}

.ais-refinement-list--item:hover {
    background-color: rgba(241, 241, 241, 0.35);
    color: #141618 !important;
    font-weight: 600;
}

.ais-refinement-list--item__active {
    background-color: rgba(241, 241, 241, 0.35);
    color: #141618 !important;
    font-weight: 600;   
}

.ais-refinement-list--item__active label {
    color: #00C3C1 !important;
}

.ais-refinement-list--label:hover {
    color: #141618 !important;
}

.ais-refinement-list--checkbox {
    visibility: hidden;
}

.ais-refinement-list--count {
    color: #141618;
    font-size: 16px;
    background: none;
}

.ais-header {
    border-bottom: none;
    text-transform: none;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 2px;
    margin-bottom: 5px;
    color: #404040;
    text-align: center;
    background-color: #F2F2F2;
    overflow: hidden;
    padding-left: 5px;
}
.ais-show-more {
    outline: none !important;
    font-size: 18px;
}

.sbx-sffv__input {
    border-radius: 0px;
    font-size: 16px;
}

.ais-RefinementList__showMore {
    outline: none !important;
    background-color: #F8F8F8;
    border: solid 1px #D3D3D3;
    height: 30px;
    width: 100%;
    font-size: 17px;
    overflow: hidden;
    margin: 5px 0 0 0;
}

.show-more button {
    background: #F8F8F8 !important;
    border: solid 1px #D3D3D3 !important;
    cursor: pointer !important;
    font-size: 17px !important;
}

.hitsContainer {
    width: 70%;
    margin-left: 25px;
}

.hit-card {
    display: inline-block;
    position: relative;
    padding: 0;
    cursor: pointer;
    height: auto;
}

.col-xs-12 {
    float: left;
    width: 100%;
}

.hit-card-content {
    display: block;
    overflow: auto;
    position: relative;
    min-height: 90px;
    padding: 0 10px 25px 0;
    background-color: white;
    border: none;
    border-top: solid 1px #D3D3D3;
    overflow: hidden;
}

.article-image-container {
    width: 170px;
    height: 90px;
    margin-top: 8px;
    margin-right: 10px;
    float: left;
    clear: both;
}

.article-image-container img {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    float: left;
    background-color: #828282; 
}


.article-text-container {
    padding-top: 5px;
    overflow: hidden;
}

.hit-elem-title {
    font-size: 1.1em;
    line-height: 1.2em;
    display: block;
    font-weight: 600;
    color: #000;
}

.instant-article-sub {
    font-size: 0.9em;
    font-weight: normal;
    color: #828282;
}

.instant-article-sub > span + span {
    padding-left: 10px
}

#pagination-container {
    text-align: center;
}

.ais-pagination {
    padding: 8px 50px;
    margin: 25px;
    border-radius: 0px;
}

.ais-pagination--item {
    border-radius: 1px;
    font-size: 18px;
    text-align: center;
    width: 50px;
}
.ais-pagination--item__active {
    background: #5fb3f1;
}

.ais-pagination--item__active .ais-pagination--link {
    background-color: #5fb3f1;
}

em {
    text-decoration: underline !important;
    font-weight: 600;
    color: #00C3C1;
}


li.active a{
    color: #5fb3f1 !important;
    border-bottom: 4px solid #5fb3f1;
    outline: 0;
}

li.hidden {
    visibility: hidden;
}

#lang-selector {
    margin-left: -150px !important;
}

#full-text-selector {
    margin-left: -50px !important;
}

#lang-selector, #full-text-selector {
    display: flex;
    padding: 0 5px !important;
    margin-top: 10px !important;
    color: white;
}

span#lang {
    padding: 7px;
}
.ais-hits__empty {
    font-size: 19px;
}

#popular-queries {
    margin-top: 35px;
}

.no-hit-keywords-wrapper {
    display: flex;
    width: 100%;
    float: left;
}

.keyword-text-wrapper {
    border: 1px solid lightgray;
    padding: 10px 20px;
    margin: 10px;
}

a:hover {
    color:#5fb3f1 !important; 
}

.ais-current-refined-values--list {
    display: flex;
    margin-bottom: 5px;
}

.ais-current-refined-values--item {
    padding: 4px 10px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: #00C3C1;
    margin-right: 10px;
}

.ais-current-refined-values--item a {
    color: white;
}

.ais-current-refined-values--item a:hover {
    color: white !important;
}

.ais-current-refined-values--count {
    display: none;
}

.ais-current-refined-values--link > div {
    padding-left: 15px;
}

.ais-current-refined-values--item::after {
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 12px;
    color: white;
    position: absolute;
    top: 205px;
  }

p.article-synopsis {
    max-height: 50px;
}
