#nav {
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#nav ul {
    background: none;
}

#nav li a {
    padding: 15px 10px;
}

#logo-search {
    margin-left: 200px;

}
li#nav-logo {
    position: relative;
    top: 5px;
    left: -15px;
}

#nav ul {
    width: 35%;
    margin-left: 770px
} 

#main-content {
    position:relative;
    top: 50px;
} 

header h1 {
    float: left;
    width: 200px;
    margin: 0 0 15px 30px;
    padding: 21px 0 0;
}

div.hidden {
    display: none;
}
